@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

:root {
    --dark-blue: #000B49;
    --nav-border: solid 3px var(--dark-blue);
    --button-border: solid 1px var(--dark-blue);
    --button-color: #0e54a8;
    --grey-border: solid 0.3px lightgrey;
    --white-bgc: white
}

* {
    box-sizing: border-box;
}

/* Utility classes */
.flex {
    display: flex;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.items-center {
    align-items: center;
}

.hidden {
    display: none;
}

.disabled {
    opacity: 0.6 ;
    color: grey;
    cursor: not-allowed;
}

.clickable {
    cursor: pointer;
}

/* Forms */

.form-control, .form-control > * {
    width: 100%;
    height: 43px;
}


.btn-primary {
    background-color: var(--button-color);
    color: var(--white-bgc);
    font-size: 1em;
    font-family: inherit;
    border: none;
}


.popup {
    position: absolute;
    background-color: var(--white-bgc);
    border: var(--grey-border);
    border-radius: 3px;
    box-shadow: 0 0 2.6px;
}

/* End of utility */
body, html {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(255, 255, 255, 0.925);
}


.links {
    width: 140px;
    height: 70%;
    align-items: center;
}

/* nav bar styling */

nav {
    position: fixed;
    width: 100%;
    height: 90px;
    overflow: hidden;
    display: flex;
    top: 0;
    padding: 0 20px 0 20px;
    background-color: var(--white-bgc);
    z-index: 99999;
}


.nav-container {
    align-items: center;
    width: 100%;
    border-bottom: var(--nav-border);
}

#brand {
    font-size: 1.5em;
    border: var(--nav-border);
    justify-content: center;

}

nav span {
    width: 2px;
    height: 60%;
    background-color: black;
}

nav a {
    text-decoration: none;
    color: black;
}

.links a {
    cursor: pointer;
}

.sign-up a {
    transition: 0.6s;
}

.sign-up a:hover {
    transition: 0.6s;
    opacity: 0.9;
    transform: scale(1.2);
}


/* Login Pop up */

#login-container {
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    padding-top: 30px;
    position: fixed;
    z-index: 999999;
    background-color: rgba(0,0,0,0.4);
}



#login-popup {
    width: 30vw;
    height: 70vh;
    background-color: var(--white-bgc);
    border-radius: 5px;

    opacity: 1;
}

#field-container {
    padding-left: 1em;
    padding-right: 1em;
}

#login-header-container {
    padding-top: 10px;
}

.login-header {
    text-align: center;
    border-bottom: var(--grey-border);
    padding-bottom: 10px;
}

/* Login Form */

#login-form {
    height: 80%;
}

#field-container {
    height: 70%;
    justify-content: space-evenly;
}

.field input {
    border: var(--grey-border);
    font-size: inherit;
    font-family: inherit;
}

.field input:focus {
    border: 2px solid var(--dark-blue);
    box-shadow: inset 0 0 2px var(--dark-blue);
}



.close-btn {
    width: 100%;
    justify-content: flex-end;
    padding: 5px;
}

#login-popup .close-btn {
    margin-right: -5px;
}

/* Media queries */

@media only screen and (max-width: 1000px) {
    #login-popup {
        width: 50%;
        height: 70vh;
        z-index: 23;
    }
}

@media only screen and (max-width: 800px) {
    #login-popup {
        width: 98vw;
        height: 70vh;
        z-index: 23;
    }
}