@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

:root {
    --dark-blue: #000B49;
    --nav-border: solid 3px var(--dark-blue);
    --button-border: solid 1px var(--dark-blue);
    --button-color: #0e54a8;
    --grey-border: solid 1px lightgrey;
    --white-bgc: white;
    --light-blue: rgb(0,156,222)
}




* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(255, 255, 255, 0.925);
    min-height: 100%;
}


/* Utility classes */
.flex, .btn {
    display: flex;
}

.flex-center, .btn {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.items-center {
    align-items: center;
}

.hidden {
    display: none;
}

.disabled {
    opacity: 0.6 ;
    color: grey;
    cursor: not-allowed;
}

.clickable {
    cursor: pointer;
}


/* Forms */

.form-control, .form-control > * {
    width: 100%;
    height: 43px;
}


.btn-primary {
    background-color: var(--button-color);
    color: var(--white-bgc);
    font-size: 1em;
    font-family: inherit;
    border: none;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: var(--light-blue);
}


.popup {
    position: absolute;
    background-color: var(--white-bgc);
    border: var(--grey-border);
    border-radius: 3px;
    box-shadow: 0 0 2.6px;
}

.card {
    background-color: var(--white-bgc);
    border: var(--grey-border);
    border-radius: 3px;
    box-shadow: 0 0 2.6px;
}

.container {
    margin-top: 25vh;
    width: 100%;
}

.guests, .btn {
    height: 40px;
    width: 100%;
    border: var(--button-border);
    border-radius: 3px;
    cursor: pointer;
    font-family: inherit;
}

.card-bottom {
    height: 30%;
    padding: 0 10%;
}

/* End of utility */

.links {
    width: 140px;
    height: 70%;
    align-items: center;
}

/* nav bar styling */

nav {
    width: 100%;
    height: 90px;
    overflow: hidden;
    display: flex;
    top: 0;
    padding: 0 20px 0 20px;
    background-color: var(--white-bgc);
    z-index: 99999;
}


.nav-container {
    align-items: center;
    width: 100%;
    border-bottom: var(--nav-border);
}

#brand {
    font-size: 1.5em;
    border: var(--nav-border);
    justify-content: center;

}

nav span {
    width: 2px;
    height: 60%;
    background-color: black;
}

nav a {
    text-decoration: none;
    color: black;
}

.links a {
    cursor: pointer;
}

.sign-up a {
    transition: 0.6s;
}

.sign-up a:hover {
    transition: 0.6s;
    opacity: 0.9;
    transform: scale(1.2);
}


/* Login Pop up */

#login-container {
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    padding-top: 30px;
    position: fixed;
    z-index: 999999;
    background-color: rgba(0,0,0,0.4);
}



.login-popup {
    width: 30vw;
    height: 70vh;
    background-color: var(--white-bgc);
    border-radius: 5px;
    padding: 0 .5em;
    opacity: 1;
}


#login-header-container {
    padding-top: 10px;
}

.login-header {
    text-align: center;
    border-bottom: var(--grey-border);
    padding-bottom: 10px;
}

/* Login Form */

#login-form {
    height: 80%;
}

/* Signup form */
#signup-card {
    padding: 20px;
}

#signup-form {
    height: 100%;
}

#signup-submit {
    margin-top: 10px;
}


.field-container {
    height: 70%;
    justify-content: space-evenly;
}

.card .field-container {
    height: 100%;
}


.field input {
    border: var(--grey-border);
    font-size: inherit;
    font-family: inherit;

}

.field input:focus {
    border: inset 4px solid var(--dark-blue);
    box-shadow: inset 0 0 2px var(--dark-blue);
}


.close-container {
    width: 100%;
    justify-content: flex-end;
    padding: 5px;
}

#login-popup .close-btn {
    margin-right: -5px;
}



/* footer */

footer {
    height: 100px;
    width: 100%;
    background-color: var(--dark-blue);
    position: relative;
    bottom: 0;
}

.contact {
    color: var(--white-bgc);
    font-size: 2em;
    transition: 0.4s;
}

.contact:hover {
    transform: scale(1.2);
    transition: 0.4s;
    color: var(--button-color);
}

.errors {
    margin: 5px 0;
    text-decoration: lightcoral underline;
}


/* Media queries */

@media only screen and (max-width: 1000px) {
    .login-popup {
        width: 50%;
        height: 70vh;
        z-index: 23;
    }
}

@media only screen and (max-width: 830px) {
    .login-popup {
        width: 98vw;
        height: 70vh;
        z-index: 23;
    }

    #signup-container {
        width: 98vw;
    }


    .container {
        margin-top: 30vh;
    }

    .form-control {
        height: 3em;
    }
}