/* main content */
main {
    margin-top: 100px;
}

/* Form */



.form-container {
    height: 120px;
    position: relative;
}

form {
    width: 100%;
}
/* 
#form-set {
    width: 30vw;
} */

/* Dates display */

.room-summary {
    justify-content: space-evenly;
    align-items: center;
    width: 35%;
}


.guests {
    background: var(--white-bgc);
}

.guests span {
    margin: 5px;
}

.guests-summary, .btn {
    cursor: pointer;
}

/* .increment:focus, .increment-rooms:focus, .decrement:focus */
.guests:focus {
    border: 1px solid var(--dark-blue);
    /* box-shadow: inset 0 0 2px var(--dark-blue); */
}



.date-container {
    align-items: center;
    justify-content: center;
}

.dates {
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    width: 26vw;
}

.day {
    font-size: 3em;
}

.month {
    justify-content: center;
}

.divider {
    width: 3px;
    height: 50px;
    background-color: aquamarine;
}

/* Rooms Display */

.con {
    width: 80px;
    justify-content: space-around;
}



/* Offer bar */

.offers {
    background-color: rgb(0,156,222);
    height: 80px;
    font-size: 1.3em;
    color: var(--white-bgc);
    font-weight: 600;
}

/* Main image */

.img-container {
    margin-top: 30px;
    width: 100%;
    text-align: center;
}

.main-image {
    width:85%;
    border-radius: 3px;
}

/* Main image text */

.img-text {
    line-height: 0.5;
}

.img-text-header{
    color: var(--button-color);
    font-size: 2em;
    font-weight: bold;
}

/* Image grid */

.bottom-container {
    padding: 5vw;
}

.img-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 15px;
}


.img-grid div img {
    width: 100%;
    height: 100%;
    border-radius: 2px;
}

.img-grid div {
    position: relative;
    z-index: 0;
}

.img-grid div::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.3;
    transition: 1s;

}

.img-grid div::after {
    transition: 0.7s;
}

.img-grid div::after {
    display: block;
    position: absolute;
    color: white;
    right: 0;
    bottom: 1px;
    left: 0;
    text-align: center;
    font-size: 1.4em;
}

.img-grid div:nth-child(1):after {
    content: 'Make your stay memorable';
}

.img-grid div:nth-child(2):after {
    content: 'Relax into our luxury';
}

.img-grid div:nth-child(3):after {
    content: 'Leave stress behind';
}

.img-grid div:nth-child(4):after {
    content: 'Celebrate life with us';
}
.img-grid div:nth-child(5):after {
    content: 'An experience of wellness';
}

.img-grid div:nth-child(6):after {
    content: 'If you can dream it, we can do it';
}

.img-grid div:hover::after {
    bottom: 40%;
    transition: 0.7s;
}



/* footer */


.contact {
    color: var(--white-bgc);
    font-size: 2em;
    transition: 0.4s;
}

.contact:hover {
    transform: scale(1.2);
    transition: 0.4s;
    color: var(--button-color);
}


/* Form pop up */
.room-container {
    display: none;
    position: absolute;
    left: 45vw;
    width: 35%;
    top: 11.5vh;
    background-color: var(--white-bgc);
    border: var(--grey-border);
    border-radius: 3px;
    box-shadow: 0 0 2.6px;
}

.room {
    justify-content: space-around;
    border-bottom: var(--grey-border);
}

.remove-room, .increment-rooms, .increment {
    align-self: center;
    font-size: 1.5em;
    color: var(--button-color);
    font-weight: 100;
}

.increment-rooms {
    transform: rotate(45deg);
}

.rotate {
    transform: rotate(45deg);
    font-weight: 100;
}

.decrement, .increment  {
    border-radius: 50%;
    font-size: 1.4em;
    background-color: var(--white-bgc);
    border: none;
    color: var(--button-color);
    cursor: pointer;
}



.add-container, .room {
    padding: 10px;
}


#date-overlay {
    position: absolute;
    inset: 0;
}

.disabled {
    opacity: 0.6 ;
    color: grey;
    cursor: not-allowed;
}


/* Media queries */
/* 
@media only screen and (max-width: 1000px) {
    #login-popup {
        width: 50%;
        height: 70vh;
        z-index: 23;
    }
} */

@media only screen and (max-width: 700px) {
    .date-container {
        justify-content: space-evenly;
    }

    .dates {
        justify-content: space-evenly;
        width: 50vw;
    }

    .room-summary {
        flex-direction: column;
        width: 40%;
    }

    .room-container{
        width: 98vw;
        left: 1vw;
        right: 1vw;
        top: 13vh;
    }

    .calendar-container {
        flex-direction: column;
    }

    .img-text-header {
        font-size: 1.3em;
    }

    p.img-text{
        font-size: .8em;
    }


    .img-grid {
        grid-template-columns: 100%;
        grid-template-rows: repeat(6, 1fr);
    }

}