/* Sign up style */

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@600&display=swap');

.container {
    height: 900px;
    margin-top: 10vh;
    padding-bottom: 100px;
}

#signup-form {
    width: 40%;
    font-family: 'Be Vietnam Pro', sans-serif;
}

#signup-fields {
    height: 100%;
}

.signup-field {
    width: 100%;
    border: 1px solid;
    position: relative;
}

.signup-label {
    margin: 0 4px;
}

.signup-field input {
    width: 100%;
    outline: none;
    border: none;
    height: 3.5em;
    font-size: 1em;
}

.signup-field.bordered-input {
    box-shadow:  0 0 0 3px #009CDE;
    cursor: text;
}

.error {
    color: red;
}

/* Media Queries */

@media only screen and (max-width: 830px) {
    .login-popup {
        width: 98vw;
        height: 70vh;
        z-index: 23;
    }

    #signup-form {
        width: 97%;
    }

}


@media only screen and (max-width: 400px) {
    .login-popup {
        width: 98vw;
        height: 70vh;
        z-index: 23;
    }

    .container {
        margin-top: 15vh;
    }

}