{% extends 'base.html' %}

{% load static %}



{% block title %}

{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/home.css'%}">
<link rel="stylesheet" href="{% static 'css/calendar.css'%}">
{% endblock %}

{% block content %}

<main>
    <!-- <div style="display: flex; flex-direction: column; align-items: center; margin-top: 20px;">
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
        </form>
    </div> -->


    <div class="form-container flex flex-center">

        <div class="calendar-popup flex flex-column popup">
            <div class="close-container flex"><i class="fas fa-times close-btn flex"></i></div>
            <div id="calendar-navigation" class="flex space-between items-center">
                <p class="prev disabled">&lt;</p>
                <p class="next">&gt;</p>
            </div>

            <div class="calendar-container flex">
                <div class="first-calendar calendar">
                    <div class="month">
                        <div class="date">
                            <h3></h3>
                        </div>
                    </div>
                    <div class="weekdays">
                    </div>
                    <div class="days">
                    </div>
                </div>
                
                <div class="calendar second-calendar">
                    <div class="second-cal-month month">
                        <div class="second-cal-date date">
                            <h3></h3>
                        </div>
                    </div>
                    <div class="second-cal-weekdays weekdays">
                    </div>
                    <div class="second-cal-days days">
                    </div>
                </div>
            </div>
        </div>
        <form id="bookingSearchForm" method='POST'>
            {% csrf_token %}
            {{form.as_p}}
            <div class="date-container flex">
                
                <div class="dates flex">
                    <div class="start-date flex">
                        <div id="check-in-day" class="day">28</div>
                        <div id="check-in-month" class="month flex flex-column">
                            <span class="month-name">DEC</span>
                            <span class="week-day">TUE</span>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="end-date flex">
                        <div id="check-out-day" class="day">29</div>
                        <div id="check-out-month" class="month flex flex-column">
                            <span class="month-name">DEC</span>
                            <span class="week-day">WED</span>
                        </div>

                        <div id="date-overlay" class="clickable"></div>
                    </div>

                </div>

                <div class="room-summary flex">
                    <button id="guests" type='button' class="guests flex flex-center">
                        <span id="room-counter">1 Room</span> <span id="guests-counter">1 Guest</span> 
                    </button>
                    <div id="room-container" class="room-container flex space-between">
                        <div class="close-container flex"><i id="room-close" class="fas fa-times close-btn"></i></div>
                        <div id="form-set">

                        </div>
                        <div class="add-container flex">
                            <span class="far fa-times-circle increment-rooms clickable" type="button" id="add-more"></span>Add Room
                        </div> 
                    </div>
                    <button class='btn btn-primary' type="submit">Find a booking</button>
                </div>
            </div>



        </form>
    </div>

    <div class="offers flex flex-center">
        Sign up to get exclusive offers!
    </div>


    <section>
        <div class="img-container">
            <img class="main-image" src="{% static 'images/hotelfront.jpg' %}" alt="">

            <div class="img-text">
                <p class="img-text-header">One place, another world</p>
                <p class="img-text">Welcome to an oasis of luxury & tranquility</p>
            </div>
        </div>
    </section>

    <section>
        <div class="bottom-container">
            <p class="img-text-header">Welcome to heaven on earth</p>
            <div class="img-grid">
                <div><img src="{% static 'images/beach1.jpg' %}" alt=""></div>
                <div><img src="{% static 'images/beach2.jpg' %}" alt=""></div>
                <div><img src="{% static 'images/beach3.jpg' %}" alt=""></div>
                <div><img src="{% static 'images/beach4.jpg' %}" alt=""></div>
                <div><img src="{% static 'images/backghotel.jpg' %}" alt=""></div>
                <div><img src="{% static 'images/pool.jpg' %}" alt=""></div>
            </div>
        </div>
    </section>
</main>


{% endblock %}



{% block script %}
<script src="{% static 'js/calendar.js' %}"></script>
{% endblock %}