{% extends 'base.html' %}

{% load static %}



{% block title %}

{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/home.css'%}">
{% endblock %}

{% block content %}

{% include 'partials/navbar.html' %}
<main>
    <div class="form-container flex flex-center">
        <form id="bookingSearchForm" action="{% url 'rooms' %}" method='GET'>
            <div class="date-container flex">
                <div class="dates flex">
                    <div class="start-date flex">
                        <div class="day">28</div>
                        <div class="month flex flex-column">
                            <span class="month-name">DEC</span>
                            <span class="week-day">TUE</span>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="end-date flex">
                        <div class="day">29</div>
                        <div class="month flex flex-column">
                            <span class="month-name">DEC</span>
                            <span class="week-day">WED</span>
                        </div>
                    </div>
                </div>

                <div class="room-summary flex">
                    <button type='button' class="guests flex flex-center">
                        <span id="room-counter">1 Room</span> <span id="guests-counter">1 Guest</span> 
                    </button>
                    <div class="room-container flex space-between">
                        <div id="form-set">

                        </div>
                        <div class="add-container">
                            <button class="increment-rooms" type="button" id="add-more">+</button>Add Room
                        </div> 
                    </div>
                    <button class='btn btn-primary' type="submit">Find a booking</button>
                </div>
            </div>



        </form>
    </div>

    <div class="offers flex flex-center">
        Sign up to get exclusive offers!
    </div>


    <section>
        <div class="img-container">
            <img class="main-image" src="{% static 'images/backghotel.jpg' %}" alt="">

            <div class="img-text">
                <p class="img-text-header">Lorem ipsum dolor sit.</p>
                <p class="img-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora, deleniti!</p>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <p class="img-text-header">Lorem ipsum dolor sit.</p>
            <div class="img-grid">
                <div><img src="{% static 'images/backghotel.jpg' %}" alt=""></div>
                <div><img src="{% static 'images/backghotel.jpg' %}" alt=""></div>
                <div><img src="{% static 'images/backghotel.jpg' %}" alt=""></div>
                <div><img src="{% static 'images/backghotel.jpg' %}" alt=""></div>
                <div><img src="{% static 'images/backghotel.jpg' %}" alt=""></div>
                <div><img src="{% static 'images/backghotel.jpg' %}" alt=""></div>
            </div>
        </div>
    </section>
</main>

<footer class="flex flex-center">
    <div class="links flex space-around">
        <a class='contact' target="blank" href="https://github.com/idosarue"><i class="fab fa-github"></i></a>
        <a class='contact' target="blank" href="https://www.linkedin.com/in/ido-sarue-66aa79214/"><i class="fab fa-linkedin"></i></a>
    </div>
</footer>

{% endblock %}
