{% extends 'base.html' %}

{% load static %}


{% block style %}
<link rel="stylesheet" href="{% static 'css/rooms.css' %}">

{% endblock %}

{% block title %}

{% endblock %}

{% block content %}



<h1>rooms</h1>
<h2>{{check_in_date}} {{check_out_date}}</h2>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div id="room-container" class="flex flex-center">
    {{booking}}
    <div class="grid-row" data-row-count="{{rooms|length}}">
            {% for room in booking.rooms.all %}
            <div class="card room-card">
                <img class="room-image" src="{% static 'images/' %}{{room.room_type.image}}" alt="room">
                {{room}}
                <a href="{% url 'next_room' room.id booking.id last_booking length %}">Book {{room.room_price}}</a>
            </div>
            {% endfor %}
    </div>
</div>






{% endblock %}

{% block script %}
    <script src="{% static 'js/rooms.js' %}"></script>
{% endblock %}

<div id="room-container" class="flex flex-center">
    <div class="grid-row" data-row-count="{{rooms|length}}">
    {% for obj in rooms %}
        {% for room in obj %}
        <div class="card room-card">
            <img class="room-image" src="{% static 'images/' %}{{room.room_type.image}}" alt="room">
            {{room}}
            <a href="{{room.id}}{{booking.id}}">Book Room ${{room.room_price}}</a>
        </div>
        {% endfor %}
        {% endfor %}
    </div>
</div>